{% extends 'base2.html' %} 
{% load static %}

{% block content %}
{% include 'includes/alerts.html' %}
    <div class="row ">
        <div class="col-lg-6">
            {% if user.role == 2 %}
            <div class="card">
                <div class="card-body">
                    <form method="post" action="{% url 'user_change_password' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-warning">Change Password</button> 
                    </form>
                </div>
            </div>
            {% elif user.role == 1 %}
            <div class="card">
                <div class="card-body">
                    <form method="post" action="{% url 'vendor_change_password' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-warning">Change Password</button> 
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
