{% extends "base.html" %}
{% block content %}
{% load static %}

    <!-- CONTACT ADDRESS AREA START -->
    <div class="ltn__contact-address-area mt-100 mb-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{message.tags}} show-notification" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            <strong>{{message}}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-lg-4">
                    <div class="ltn__contact-address-item ltn__contact-address-item-3 box-shadow">
                        <div class="ltn__contact-address-icon">
                            <i class="mdi mdi-email-outline" style="font-size: 36px;"></i>
                        </div>
                        <h3>Email Address</h3>
                        <p>info.stylesavvy@gmail.com</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ltn__contact-address-item ltn__contact-address-item-3 box-shadow">
                        <div class="ltn__contact-address-icon">
                            <i class="mdi mdi-phone-outline" style="font-size: 36px;"></i>
                        </div>
                        <h3>Phone Number</h3>
                        <p>01-556789 <br> +987-6543210</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ltn__contact-address-item ltn__contact-address-item-3 box-shadow">
                        <div class="ltn__contact-address-icon">
                            <i class="mdi mdi-map-marker-outline" style="font-size: 36px;"></i>
                        </div>
                        <h3>Address</h3>
                        <p>Location <br>Ohio, USA</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- CONTACT ADDRESS AREA END -->
    <hr>

    <!-- CONTACT MESSAGE AREA START -->
    <div class="ltn__contact-message-area mb-20">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__form-box contact-form-box box-shadow white-bg">
                        <h4 class="title-2">Enquiry Form</h4>
                        <form id="contact-form" action="{% url 'contact' %}" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-item input-item-name ltn__custom-icon">
                                     {{ form.name }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-item input-item-email ltn__custom-icon">
                                         {{ form.email }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-item input-item-phone ltn__custom-icon">
                                       {{ form.phone }}
                                    </div>
                                </div>
                               
                            </div>
                            <div class="input-item input-item-textarea ltn__custom-icon">
                                {{ form.message }}
                            </div>
                            <div class="btn-wrapper mt-0">
                                <button class="btn theme-btn-1 btn-effect-1 text-uppercase" type="submit">Submit</button>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CONTACT MESSAGE AREA END -->
    

    <!-- GOOGLE MAP AREA START -->
    <div class="google-map">

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96218.63952869247!2d-80.7952656592314!3d41.094506565102144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8833e1d16893bc9f%3A0x5d2c726a0cccf044!2sYoungstown%2C%20OH%2C%20USA!5e0!3m2!1sen!2snp!4v1719756220435!5m2!1sen!2snp" width="100%" height="100%" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <!-- GOOGLE MAP AREA END -->

{% endblock content %}

